.hidden {
  display: none;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.app-header {
  background: darkblue;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-position: inside;
}

.main-nav li button {
  background: white;
  color: #1e1e2f;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  align-items: center;
}

.main-nav li button:hover {
  background: lightyellow;
}

.main-content {
  padding: 30px;
}

.content-section {
  background: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 900px;
  box-shadow: 0 0 10px;
}

.logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}